.MuiSlider-mark {
  display: none;
  display: block;
  height: 4px !important;
  width: 4px !important;
  position: relative;
  /* color: rgb(255, 255, 255); */
  color: red;
  z-index: 100;
  border-radius: 100% !important;
}

.MuiSlider-mark::after {
  content: "!";
  position: absolute;
  top: -20px;
  color: aqua;
}

.MuiSlider-root {
  padding: 5px 0 !important;
}
